/*
 * Login.scss
 * author: evan kirkiles
 * created on Tue May 09 2023
 * 2023 the nobot space 
 */

.Login {
  background-color: color("red1");
  padding: 1em;
  width: calc(200px + 3em);
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.3em;
  color: color("white");
  text-align: center;

  &__title {
    font-weight: 700;
    font-size: 1.4em;
  }

  &__form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5em;
    width: 100%;
  }

  &__forminput {
    padding: 0.3em;
    width: 200px;
    border: 4px solid color("white");
    background-color: color("white");
  }

  &__formsubmit {
    background-color: color("white");
    color: color("red1");
    width: 100%;
    padding: 0.4em;
    white-space: nowrap;
  }
}